.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 50px!important;
    width: 50px!important;
    outline: black;
font-size: 10px;
    background-color: #000000;
    border-radius: 50%;
    border: 1px solid black;

}

.carousel-item {
    transition-duration: 1ms!important;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
    display: block;
}