


#title-container{
    padding: 4em;
    background-color: #ffd8ba;
}


.intro .btn-dark{
    background-color: black;
    width: 50%;
    border-radius: 0 0 0 0;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 19px;
}

.mark{
    height: 10px;
    width: auto;
    background-color: #e9e9e9 !important;
}

.poem .container{

    border-color: #ffd8ba;
border-width: 10px;
    border-style: solid;
    background-color: white;
}


.about ul {
    list-style-type: none;
}


.about ul li:before {
    font-family: 'FontAwesome';
    content: '\f105';
    margin:0 5px 0 0px;
    color: #000000;
}



#flag{
    max-width: 300px;
    height: auto;
}


#portrait1{
    max-width: 75%;
    height: auto;
}

#portrait2{
    max-width: 100%;
    height: auto;
}


@media (max-width: 992px) {
    #portrait2{
        max-width: 75%;
        height: auto;
    }
    #portrait1{
        max-width: 100%;
        height: auto;
    }


}


.picture{
    text-align: center;
    padding:3em 3em 3em 3em!important;
    background-color: black!important;
}




.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
    display:block;
}

