@font-face {
    font-family: 'Buttercake';
    src: url('/resource/fonts/Buttercake.ttf') format('truetype');
}


.intro{

    background: linear-gradient(90deg, rgba(0,0,0,1) 55%, rgba(255,255,255,1) 55%);
}
@media (max-width: 992px) {

    .intro{

        background: linear-gradient(180deg, rgba(0,0,0,1) 80%, rgba(255,255,255,1) 80%);
    }

}

@media (min-height: 1000px) {

    .intro{

        background: linear-gradient(90deg, rgba(0,0,0,1) 55%, rgba(255,255,255,1) 55%);
        height: 100vh;
    }

}

.intro .card-title{
    margin-left: 75px;
    margin-right: 75px;
}

.intro .quote{
    color: #b8b8b8;
    font-family: Georgia;
}
