@import url(colors.css);


.navbar {
    top: 0;
    z-index: 99;
height: 65px;
    background-color: black;

}

.main-menu li{
    padding-right: 20px;
    text-transform: uppercase;

}

.main-menu li{
    padding-right: 20px;
    text-transform: uppercase;
    margin-top: 3%;

}

.navbar-brand img {
    top: -1px!important;
    position: absolute;
    width: 100px;
    height: auto;
}

.navbar a{
    color: white;
    font-family: "Trebuchet MS";
    border-bottom: solid 2px transparent;

}

.navbar a:hover{
    border-bottom: solid 2px white;
}



@media (max-width: 992px) {

    .navbar a{
        font-size: .7rem;
        color: white;
    }
    .navbar a:hover{
        color: white;

    }
    .navbar{
        background-color: black;
    }
    .navbar-brand img {
        top: 0!important;
        position: absolute;
        width:auto ;
        height: 100%;
    }
}




