body {
  background: #f0efeb;
  font-family: "Open Sans", sans-serif;
}
.center {
}

#image {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.intro-img-caption {
  max-width: 100%;
  padding-top: 10px;
}

#tribute-info td {
  padding: 10px;
}
#tribute-info p {
  text-align: justify;
  text-indent: 10px;
}

article h2 {
  background: linear-gradient(
          to right,
          rgba(183, 183, 164, 1) 0%,
          rgba(240, 239, 235, 1) 100%
  );
  color: white;
  font-size: 30px;
  font-family: "Comfortaa", cursive;
  letter-spacing: 3px;
  padding: 10px;
  text-indent: 1%;
  border-radius: 10px 0px 0px 10px;
}

#tribute-info table,
#tribute-gallery table {
  vertical-align: top;
  text-align: center;
  table-layout: fixed;
  width: 100%;
}
#tribute-info td,
#tribute-gallery td {
  width: 25%;
}

.ref-container {
  display: block;
  text-align: right;
}
.ref-container a {
  font-family: "Alex Brush", cursive;
  font-size: 30px;
  color: #581c0c;
  text-decoration: none;
}
.main-container {
  padding-left: 8%;
  padding-right: 8%;
}

.header-container {
  position: inline;
}
#title {
  text-align: center;
}
#subtitle {
  text-align: center;
  margin-top: -25px;
  font-size: 10px;
  color: #696969;
}
.tribute-info table {
  text-align: justify;
  width: 100%;
}
.first-name {
  font-family: "Alex Brush", cursive;
  font-size: 60px;
}
.last-name {
  font-family: "Comfortaa", cursive;
  font-size: 15px;
  letter-spacing: 3px;
  padding-top: 5px;
}
#img-caption {
  width: auto;
  text-align: center;
}
.img-resize {
  max-width: 100%;
}

.img-main {
  max-width: 100%;
  border-radius: 50px;
  margin-right: 50px;
}
.img-intro {
  padding-top: 50px;
  text-align: center;
  border-radius: 50px;
}

.img-banner {
  max-width: 100%;
  max-height: 100%;
  width: 25%;
  border-radius: 50%;
}
.img-gallery {
  display: block;
  border-radius: 50px;
  max-width: 100%;
  max-height: 400px;
  height: auto;
}

figcaption {
  font-size: 15px;
  font-weight: 100;
  text-align: center;
}

#nav-bar {
  position: inline;
  padding-top: 50px;
  padding-bottom: 200px;
  overflow: hidden;
}
.center-nav {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
#nav-bar a {
  color: #686763;
  text-align: center;
  text-decoration: none;
}
.button {
  background-color: #eddcd2;
  color: black;
  margin: 10px;
  padding: 15px;
  width: 100px;
  text-align: center;
  letter-spacing: 3px;
  border: 1px solid white;
  box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.05);
}
.button:hover {
  background-color: #b7b7a4;
}

.section-container {
  width: 100%;
}
.poem-title {
  margin-bottom: -10px;
}
.table-poems h3 {
  font-family: "Alex Brush", cursive;
  font-size: 30px;
}
.table-poems {
  width: 100%;
  text-align: left;
}
.table-poems td {
  border-radius: 50px;
  border-left: 50px solid #f0efeb;

  border-right: 50px solid #f0efeb;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.table-poems p {
  background-color: rgba(237, 220, 210, 1);
  padding: 10%;
  border: 1px solid #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}