h1{
    text-transform: uppercase!important;
    font-size: 3em!important;
    color: black;
}


h2{
    font-size: 1.25em!important;
    color: #4a4a4a;
    font-weight: 300!important;;

}


h3{
    text-transform: uppercase!important;
    text-align: left!important;
    font-family: "Trebuchet MS"!important;
    font-size: 1.5em!important;
}

h3 label{
    text-transform: uppercase!important;
    font-family: Georgia!important;
    font-size: 2em!important;
    line-height: 2.25rem!important;
}


h5{

    text-transform: uppercase!important;
    font-size: 1em!important;
    font-family: "Trebuchet MS";
    color: white;

}

h6{
    font-size: .6em!important;
    color: #585858;
    font-weight: 200!important;
    letter-spacing: 2px;
    font-family: "Trebuchet MS";
    text-align: right;
}


.brand-name{
    font-family: Arial;
    font-weight: bold;
    letter-spacing: 1px;
}


.cursive{
    font-family: Buttercake;
    font-size: 35px;

}


.quote .poem-title{
    font-size: 1em;
    font-weight: bold;
}

.quote{
padding: 1em 0 1em;
    font-family: Georgia;
    color: #b7b7b7;
    font-size: .7em;
    font-style: italic;

}

.section-title{
    color: #a7a7a7;
    font-size: 1.5em;
    letter-spacing: 5px;
    margin-left: -10px!important;
}


.about, .poems-list{
    text-indent: 20px;
    text-align: justify;
    font-family: Arial;
    line-height: 1.5em;
    font-size: 13px!important;

}

.poem  .description{
text-align: center;
min-height: 550px;
    padding: 50px;
    font-weight: 500;
    font-family: "Trebuchet MS";
    font-size: 13px!important;

 }


.poem .header{
    font-size: 15px!important;
    margin-left: -50px;
    margin-right: -50px;
    text-align: center;
    background-color: black;

}



.work a,.work a:link{
    text-decoration: none;
    color: black;
}


.work a:hover{
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}
