
h1{
    text-transform: uppercase;
    font-size: 60px!important;
    color: black;
}


h2{
    font-size: 22px!important;
    color: #4a4a4a;
    font-weight: 300!important;;

}


.brand-name{
    font-family: Arial;
    font-weight: bold;
    letter-spacing: 1px;
}


.cursive{
    font-family: Buttercake;
    font-size: 35px;

}


.poem-title{
    font-size: 15px;
    font-weight: bold;
}

.poem{
    font-style: italic;
    font-size: 15px;
    letter-spacing: 1px;
}
